{
  "plugins": ["unused-imports"],
  // extendsは上から適応されるため順番に注意
  // prettierは最後に書く
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:import/warnings",
    "plugin:react-hooks/recommended",
    "prettier"
  ],

  "ignorePatterns": ["*.config.js"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["sibling", "parent"],
          "object"
        ],
        "newlines-between": "always", // グループ間で改行
        "alphabetize": {
          "order": "asc"
        }
      }
    ]
  }
}
